<div class="p-0 container-fluid no-gutters p-0 b-0 m-0">
    <div class="row no-gutters">
      <div class="col-sm-9 p-0 b-0 m-0">
        <app-board></app-board>
      </div>
      <div class="col-sm-3 bg-primary p-0 b-0 m-0">
        <div id="chatBox">
          <p>Chat with tha CHADdrdssadds</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD</p>
          <p>Chat with tha CHAD5555</p>
          <p>Chat with tha CHAD1234</p>
        </div>
          <textarea class="form-control p-0 b-0 m-0" id="exampleFormControlTextarea1" rows="3" placeholder="Send a message."></textarea>
      </div>
    </div>
  </div>
  