.col-sm-3{
    position:fixed;
    height:94vh;
    right:0;
}

.col-sm-9{
    /* height:94vh; */
    position:fixed;
}

#chatBox{
    height:80vh;
    overflow-y:scroll;
}

#messageBox{
    height:20vh;
}

textarea{
    border:0px;
    border-radius: 0px;
    min-width:24.9vw;
    max-width:inherit;
    min-height:100vw;
    max-height:100vw;
}

p{
    margin: 0px;
    border: 0px;
    padding: 0px;
}