<mat-toolbar>
  <span>Shape Slate <app-menu-bar></app-menu-bar></span>
</mat-toolbar>
<mat-grid-list cols="18" rowHeight="2:1" [gutterSize]="'0px'">
  <!-- <mat-grid-tile colspan="18" id="menuBar"> -->
  <!-- <app-menu-bar></app-menu-bar> -->
  <!-- </mat-grid-tile> -->
  <mat-grid-tile colspan="13" id="drawBlock">
    <!-- <mat-card> -->
    <!-- <app-canvasblob></app-canvasblob> -->
    <!-- </mat-card> -->
  </mat-grid-tile>
  <mat-grid-tile colspan="5" id="chatBlock">

  </mat-grid-tile> -->
</mat-grid-list>