<canvas-whiteboard #canvasWhiteboard 
    [drawButtonClass]="'drawButtonClass'" 
    [drawButtonText]="'Draw'"
    [drawingEnabled]="true"
    [clearButtonClass]="'clearButtonClass'" 
    [clearButtonText]="'Clear'"
    [undoButtonText]="'Undo'"
    [undoButtonEnabled]="true" 
    [redoButtonText]="'Redo'" 
    [redoButtonEnabled]="true" 
    [colorPickerEnabled]="true"
    [downloadedFileName]="'examplefileName'" 
    (onBatchUpdate)="sendBatchUpdate($event)" 
    (onClear)="onCanvasClear()"
    (onUndo)="onCanvasUndo($event)" 
    (onRedo)="onCanvasRedo($event)">
</canvas-whiteboard>
<br>
<!-- <button (click)="drawDatabaseUpdates()">drawDatabaseUpdate</button> -->
<!-- 
<br>
<button (click)="testButton()">testButton</button>

<div>
    {{currentBoard | json}}
</div>  
-->

<app-user></app-user>
<app-slateroom></app-slateroom>