<canvas-whiteboard #canvasWhiteboard
    [drawButtonClass]="'drawButtonClass'"
    [drawButtonText]="'Draw'"
    [drawingEnabled]="true"
    [clearButtonClass]="'clearButtonClass'"
    [clearButtonText]="'Clear'"
    [colorPickerEnabled]="true"
    [downloadedFileName]="'examplefileName'"
    (onBatchUpdate)="sendBatchUpdate($event)"
    (onClear)="onCanvasClear()">
</canvas-whiteboard>
<br>

<!--<div class="one"></div>-->
<!-- <button (click)="drawDatabaseUpdates()">drawDatabaseUpdate</button> -->
<!--
<br>
<button (click)="testButton()">testButton</button>

<div>
    {{currentBoard | json}}
</div>
-->

<app-user></app-user>
<app-slateroom></app-slateroom>
